<mat-stepper
  class="main"
  [orientation]="(stepperOrientation | async)!"
  *transloco="let t"
>
  <mat-step>
    <ng-template matStepLabel>{{ t("course.first.title") }}</ng-template>
    <ng-template matStepContent>
      <p>Lorem ipsum</p>
      <button mat-raised-button color="primary" matStepperNext>
        {{ t("course.buttons.next") }}
      </button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{ t("course.second.title") }}</ng-template>
    <ng-template matStepContent>
      <p>This content was also rendered lazily</p>
      <div class="button-row">
        <button mat-stroked-button color="primary" matStepperPrevious>
          {{ t("course.buttons.previous") }}
        </button>
        <button mat-raised-button color="primary" matStepperNext>
          {{ t("course.buttons.next") }}
        </button>
      </div>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{ t("course.third.title") }}</ng-template>
    <ng-template matStepContent>
      <p>This content was rendered lazyly as well</p>
      <div class="button-row">
        <button mat-stroked-button color="primary" matStepperPrevious>
          {{ t("course.buttons.previous") }}
        </button>
        <button mat-raised-button color="primary" matStepperNext>
          {{ t("course.buttons.next") }}
        </button>
      </div>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{ t("course.fourth.title") }}</ng-template>
    <ng-template matStepContent>
      <p>This content was rendered lazyly as well</p>
      <button mat-stroked-button color="primary" matStepperPrevious>
        {{ t("course.buttons.previous") }}
      </button>
    </ng-template>
  </mat-step>
</mat-stepper>
