$header-height: 64px;
$tabs-height: 49px;

.main {
  height: calc(100vh - #{$header-height} - #{$tabs-height});
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  $header-height: 56px;
  .main {
    height: calc(100vh - #{$header-height} - #{$tabs-height});
  }
}
