<mat-tab-group
  mat-align-tabs="start"
  dynamicHeight
  mat-stretch-tabs
  [headerPosition]="(headerPosition$ | async)!"
  (selectedIndexChange)="navigate($event)"
  [selectedIndex]="activeIndex"
  animationDuration="0ms"
  *transloco="let t"
>
  <mat-tab [label]="t('tabs.home')">
    <ng-template matTabContent>
      <router-outlet></router-outlet>
    </ng-template>
  </mat-tab>
  <mat-tab [label]="t('tabs.motivation')">
    <ng-template matTabContent>
      <router-outlet></router-outlet>
    </ng-template>
  </mat-tab>
  <mat-tab [label]="t('tabs.course')">
    <ng-template matTabContent>
      <router-outlet></router-outlet>
    </ng-template>
  </mat-tab>
</mat-tab-group>
