<mat-tab-group
  mat-align-tabs="start"
  dynamicHeight
  mat-stretch-tabs
  [headerPosition]="(headerPosition$ | async)!"
  *transloco="let t"
>
  <mat-tab [label]="t('tabs.home')">
    <ng-template matTabContent>
      <app-home></app-home>
    </ng-template>
  </mat-tab>
  <mat-tab [label]="t('tabs.motivation')">
    <ng-template matTabContent>
      <app-about></app-about>
    </ng-template>
  </mat-tab>
  <mat-tab [label]="t('tabs.course')">
    <ng-template matTabContent>
      <app-course></app-course>
    </ng-template>
  </mat-tab>
</mat-tab-group>
