.main {
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
// computer size
@media (min-width: 768px) {
    .main {
        > .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            column-gap: 25px;

            justify-items: center;
        }
    }
    .img-container {
        width: 40%;
    }
}

.docs-header-background {
    overflow: hidden;
    position: relative;
    height: 420px;
}
.docs-header-background:before {
    content: "";
    position: absolute;
    background-image: url(/assets/faang.jpg);
    background-size: 600px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: 80% 20px;
    opacity: 0.2;
}
.docs-header-section {
    width: 90%;
    position: absolute;
    z-index: 0;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.docs-header-headline h1 {
    font-size: 56px;
    font-weight: bold;
    line-height: 56px;
    margin: 15px 5px;
}
.docs-header-headline h2 {
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px;
}
.docs-homepage-promo {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 75%;
    max-width: 1080px;
    margin: auto;
}
.docs-homepage-promo a {
    text-decoration: none;
}
.docs-homepage-promo h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 16px;
    padding: 0;
}
.docs-homepage-promo p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 24px;
    padding: 0;
}
.docs-homepage-promo mat-divider {
    width: 100%;
}
.docs-homepage-promo mat-icon {
    vertical-align: middle;
}
.carousel-item {
    width: 48%;
}
.carousel-item + .carousel-item {
    margin-left: 2%;
}
@media (min-width: 1020px) {
    .carousel-item {
        max-width: 32%;
    }
}
.docs-homepage-row {
    display: flex;
    flex-direction: row;
    margin: 50px 0;
}
.docs-homepage-carousel-row {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.docs-homepage-carousel-row h2 {
    margin-top: 0;
}
.docs-homepage-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.docs-homepage-header h2 {
    margin: 0;
}
.docs-link {
    display: inline-flex;
    align-items: center;
}
.docs-homepage-guides .docs-homepage-guides-card-divider {
    width: 30%;
    height: 5px;
    margin: 15px auto;
}
.docs-homepage-guides .docs-homepage-guides-carousel-item {
    display: flex;
    text-decoration: none;
    box-sizing: border-box;
    padding: 3px;
}
.docs-homepage-guides .docs-homepage-guides-carousel-item .mat-card {
    width: 100%;
    min-height: 140px;
}
.docs-homepage-guides .docs-homepage-guides-card.mat-card {
    text-align: center;
}
.docs-homepage-guides .docs-homepage-guides-card .mat-card-title {
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.docs-homepage-featured-components .docs-featured-components-carousel-item {
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
}
.docs-homepage-featured-components .docs-featured-components-carousel-item .docs-homepage-img-container {
    overflow: hidden;
    margin-bottom: 16px;
    max-height: 200px;
}
.docs-homepage-featured-components .docs-featured-components-carousel-item img {
    transition: 0.3s ease-in-out;
    width: 100%;
}
.docs-homepage-featured-components .docs-featured-components-carousel-item:hover img,
.docs-homepage-featured-components .docs-featured-components-carousel-item:focus img {
    transform: scale(1.1);
}
.docs-homepage-row-column {
    display: flex;
    flex-direction: column;
    width: 32%;
}
.docs-homepage-row-column + .docs-homepage-row-column {
    margin-left: 2%;
}
.docs-header-start {
    text-align: center;
    margin: 50px 0 0;
}
.docs-header-start .mat-raised-button {
    font-size: 15px;
}
@media (max-width: 1200px) {
    .docs-header-background {
        height: 330px;
    }
    .docs-header-background:before {
        background-image: none;
    }
}
@media (max-width: 850px) {
    .docs-header-background:before {
        background-image: none;
    }
    .docs-introduction {
        flex-direction: column;
    }
    .docs-homepage-row-column {
        width: 100%;
    }
    .docs-homepage-row-column + .docs-homepage-row-column {
        margin-left: 0;
    }
}
@media (max-width: 720px) {
    .docs-header-start {
        margin: 15px 0 0;
    }
    .docs-homepage-row,
    .docs-homepage-carousel-row {
        margin: 15px 0;
    }
}
